body {
    background-color: azure;
    
}

body a{
    text-decoration: none;
}

.container {
    width: 1024px;
}

.box1 {
    margin: 100px;
    min-height:500px;
}
.box1 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.box1 h1 {
    padding-top: 200px;
}

.box1 a {
    color:green;
    font-size: 20px;
    padding-left: 20px;
    text-align: center;
}

.btn-success
{
    padding: 10px 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.wrapper {
    min-width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.stored-info {
    min-width: 250px;
    padding: 40px 0px;
    flex-wrap: wrap;
    background-color: rgba(13, 70, 95, 0.194);
    margin-bottom: 300px;
    gap: 3rem;
}

.stored-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.wrapper i {
    padding-bottom: 10px;
}

.section-wrapper {
    min-height: 300px;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 300px;
    flex-wrap: flex;
    margin-top: -50px;
    object-fit: cover; 
}

.box {
    width:250px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(13, 70, 95, 0.194);
}

.special-wrappper {
    display: flex;
    object-fit: cover;
}


.chick-steak {
    margin-left: 125px;
}


.dish-box {
    min-width: 100px;
    min-height: 100px;
    margin: 20px 10px;
    box-sizing: border-box;
    background-color: rgba(13, 70, 95, 0.194);
    margin-bottom: 300px;
}

.dish-box,.col {
    min-width: 200px;
    min-height: 100px;
}

.demo-dish-outer {
    background-color: rgba(13, 70, 95, 0.194);
    min-width: 100px;
    min-height: 250px;
    margin: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 100px;
} 

.demo-dish {
    min-width: 100px;
    min-height: 200px;
    margin: 20px 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.demo-dish ,img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hotel-sitting {
    
    min-width: 100px;
    min-height: 500px;
    margin: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.coop-event {
    min-width: 500px;
    background-color: rgba(13, 70, 95, 0.194);
    height: 200px;
    margin-bottom: 100px;
}

.coop-event ,img {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    box-sizing: border-box;
}

.customer-parent ,.customer-child-coop {
    padding-left: 10px;
}

.customer-child-coop,button {
    text-align: center;
}


.container1 {
    width: 500px;
    background-color: rgba(13, 70, 95, 0.194);
    height: 200px;
    margin-bottom: 250px;
    
}

.container1 ,img {
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    padding-right: 15px;
}

.container1 ,text,p {
    text-align: justify;
}


/* Choose Food Part */

.parent {
    height: 500px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.child1 ,h2 {
    text-align: center;
    padding-bottom: 100px;
}
.child1 ,p {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.child3 ,.decendent {
    height: 120px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.child3 ,.decendent,img {
    float: left;
}

.child4 ,.decendent {
    height: 120px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.customer-parent {
    margin-top: 100px;
    min-width:  1024px;
    min-height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.customer-child {
    min-height: 250px;
    background-color: rgba(13, 70, 95, 0.194);
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.customer-child ,img {
    padding-top: 30px;
}


.newsletter-parent {
    width: 1024px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.newsletter-child {
    width: 512px;
    height: 200px;
    background-color: rgba(13, 70, 95, 0.194);
}

.newsletter-child ,h2 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    margin-bottom: -70px;
    text-align: left;
    padding-left: 25px;
    font-weight: normal;
}

.newsletter-child ,input[type=email1] {
    padding: 10px 50px;
}

.end-parent {
    min-height: 380px;
    background-color: rgba(13, 70, 95, 0.194);
    display: flex;
    justify-content: space-between;
}

.end-child {
    min-height: 350px;
    width: 200px;
    padding-top: 40px;
}

.end-child ,p {
    text-align: justify;
}

.end-child ,i {
    padding-top: 10px;
    padding-left: 15px;
}

/* Add media query for smaller screens */

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}


/* For Tablet View */

@media (max-width:768px) {
    .box1 {
        margin: 100px;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        flex-direction: row;
        align-items: center;
        margin-top: -50px;
        margin-left: -35px;
    }

    .special-wrappper {
        flex-direction: row;
        justify-content: space-between;
    }

    .wrapper-hide-for-tablet {
        display: none;
    }

    .box {
        flex-direction: row;
        align-items: stretch;
        padding-right: -50px;
        justify-content: space-around;
    }

    .hide-for-tablet {
        display: none;
    }

    .customer-parent {
        flex-direction: column;
        min-height: 100px;
        width: 200px;
        margin-left:80px;
    }

    .customer-child-coop {
        margin-left: 40px;
        width: 400px;
    }

    .container1 {
        margin-left:80px;
        min-width: 200px;
        min-height: 200px;

    }

    .parent {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 600px;
    }

    .child1 {
        margin-left: 80px;
        width: 600px;
    }

    .child3 {
        flex-direction: row;
        align-items: center;
        margin-left: 150px;
        margin-bottom: 100px;
    }

    .child4 {
        flex-direction: row;
        align-items: center;
        margin-left: 140px;
        margin-bottom: 100px;
    }

    .customer-parent {
        padding-top: 20px;
        flex-direction: column;
        min-width: 300px;
    }

    .customer-child {
        margin: 30px;
    }

    .customer-heading {
        font-size: larger;
        margin-top: 300px;
        text-align: center;
    }

    .newsletter-parent {
        margin-left: 110px;
        flex-direction: column;
    }

    .end-parent {
        flex-direction: column;
    }
}

/* For Mobile View */

@media (max-width:376px) {

    .box1 {
       width: 350px;
       margin-left: -5px;
       padding-bottom: 40px;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .stored-info {
        margin-top: -100px;
    }

    .special-wrappper {
        margin-bottom: 150px;
        margin-left: 30px;
    }

    .section-wrapper {
        flex-direction: column;
        margin-top: -200px;
        margin-left: 30px;
    } 

    .special-wrapper-hide-for-mobile {
        display: none;
    }

    .top-heading {
        margin-bottom: 170px;
    }

    .dish-box {
        margin-top: -150px;
    }

    .demo-dish-outer {
        margin-top: -100px;
        width: 250px;
        margin-left: 20px;
    }

    .hotel-sitting {
        margin-left: -10px;
    }

    .coop-hide-for-mobile {
        display: none;
    }

    .customer-child-coop {
        width: 350px;
        margin-left: -90px;
        margin-top: -50px;
    }

    .container1-hode-for-mobile {
        display: none;
    }

    .parent{
        width: 430px;
        margin-left: -40px;
    }

    .child3 {
        width: 320px;
        margin-left:50px;
    }

    .child4 {
        width: 320px;
        margin-left:50px;
    }
    
    

    .newsletter-child {
        width: 400px;
        height: 300px;
        margin-left: -120px;
    }

    .customer-hide-for-mobile-view {
        display: none;
    }

    .customer-child {
        width: 376px;
        margin-left: -100px;
    }

   
    
    





}




/*  Menue Page */

.headings,h3 {
    padding-top: 250px;
    padding-left: 20px;
    text-align: center;
}

.special-parent {
    width: 1024px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.special-child {
    width: 500px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin: 15px;
}

.special-child ,img {
    float: left;
}

.text,h4 {
    padding-top: 15px;
}

text ,img {
    padding-top: -100px;
}

.top-dish-parent {
    width: 1024px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.top-dish-child {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
}

.top-dish-child ,h5 {
    padding-top: 15px;
}

.breakfast-parent {
    width: 1024px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.breakfast-child {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

.breakfast-parent1 {
    width: 650px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.breakfast-child1 {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

.Lunch-parent {
    width: 1024px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.Lunch-child {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

.Lunch-parent1 {
    width: 650px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.Lunch-child1 {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

.Dinner-parent {
    width: 1024px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.Dinner-child {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

.Dinner-parent1 {
    width: 650px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.Dinner-child1 {
    width: 300px;
    height: 250px;
    background-color: rgba(129, 119, 104, 0.317);
    margin-bottom: 50px;
}

/* For Larger Screens */

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* For tablet View */

@media(max-width:768px) {
    .special-parent {
        flex-wrap: wrap;
        margin-left: 60px ;
        padding-bottom: 500px;
    }

    .top-dish-parent  {
       flex-direction: column;
       margin-left: 100px;
       margin-bottom: 600px;
    }

    .top-dish-child {
        margin-bottom: 20px;
        width: 450px;
    }


    .breakfast-parent {
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 600px;
    }

    .breakfast-child {
        margin-bottom: 20px;
        width: 450px;
    }
    
    .Lunch-parent {
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 600px;
    }

    .Lunch-child {
        margin-bottom: 20px;
        width: 450px;
    }

    .Dinner-parent {
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 600px;
    }

    .Dinner-child {
        margin-bottom: 20px;
        width: 450px;
    }
}

/* For Mobile View */

@media (max-width:376px) {
    
    .special-parent {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    
    .special-child {
        width: 300px;
        height: 400px;
        margin-left: -250px;
    }

    .top-dish-parent  {
        flex-direction: column;
        margin-bottom: 600px;
        margin-left: -330px;
        align-items: center;
     }
 
     .top-dish-child {
         margin-bottom: 20px;
         width: 300px;  
     }

     .hide-for-mobile-view {
        display: none;
     }

     .breakfast-parent  {
        flex-direction: column;
        margin-bottom: 600px;
        margin-left: -330px;
        align-items: center;
     }

     .breakfast-child {
        margin-bottom: 20px;
        width: 300px; 
     }

     .breaksfast-hide-for-mobile-view {
        display: none;
     }

     .Lunch-parent {
        flex-direction: column;
        margin-bottom: 600px;
        margin-left: -330px;
        align-items: center;
     }

     .Lunch-child {
        margin-bottom: 20px;
        width: 300px; 
     }

     .Lunch-hide-for-mobile-view {
        display: none;
     }

     .Dinner-parent {
        flex-direction: column;
        margin-bottom: 600px;
        margin-left: -330px;
        align-items: center;
     }

     .Dinner-child {
        margin-bottom: 20px;
        width: 300px; 
     }

     .Dinner-hide-for-mobile-view {
        display: none;
     }

}

/* About Part */

.story-parent {
    width: 1024px;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
}

.story-child {
    width: 500px;
    height: 450px;
}

.story-child ,h3 {
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
}

.goal {
    margin-bottom: 100px;
}

.chef-parent {
    width: 1024px;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.chef-child {
    width: 500px;
    height: 600px; 
}

/* For Larger Screens */

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* For Tablet View */

@media (max-width:768px) {
    .story-parent {
        flex-direction: column;
        margin-bottom: 700px;
        margin-left: 60px;
    }

    .goal {
        padding-left: 60px;
    }

    .chef-parent {
        flex-direction: column;
        margin-bottom: 650px;
        margin-left: 80px;
    }
}

/* For Mobile View */

@media (max-width:376px) {
    .story-parent {
        flex-direction: column;
        width: 100px;
    }

    .story-child {
        width: 400px;
        margin-left: -100px;
    }

    .goal {
        width: 430px;
        margin-left: -80px;
    }
     
    .chef-parent {
        width: 300px;
    }

    .chef-child {
        width: 300px;
        margin-left: -90px;
    }

}

/* Contact Page */

.contact-inquiry ,h1 {
    font-weight: bold;
    margin-top: -200px;
}

.first-last-parent {
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.first-last-child {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type=text],[type=Email],textarea {
    padding: 10px 150px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.85rem;
    box-sizing: border-box;
    background-color: rgba(129, 119, 104, 0.317);
}
label {
    font-size: large;
    font-weight: normal;
}

.email-subject-parent {
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: 100px;
}

.email-subject-child {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-area {
    margin-bottom: 50px;
}

/* For Larger Screens */

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* For Tablet View */

@media (max-width:768px) {
    .contact-inquiry {
        text-align: center;
    }

    .first-last-parent {
        flex-direction: column;
        margin-bottom: 200px;
        width: 700px;
    }

    .email-subject-parent {
        flex-direction: column;
        margin-bottom: 200px;
        width: 700px;
    }
}

/* For Mobile View  */

@media (max-width:376px) {
    
    .hide-for-mobile {
        display: none;
    }

    .contact-inquiry {
        padding-top: 500px;
    }

    .first-last-parent {
        padding-top: -350px;
        flex-direction: column;
        width: 200px;
    }

    .email-subject-parent {
        flex-direction: column;
        width: 200px;
    }
}

/* Book Table Part */

.email-type-parent {
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: 100px;
}

.email-type-child {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#Choose{
    margin-left: 25px;
    width: 470px;
    height: 45px;
    background-color: rgba(129, 119, 104, 0.317);
}

.guest-time-parent {
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: 100px;
}

.guest-time-child {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#Guest {
    width: 470px;
    height: 45px;
    background-color: rgba(129, 119, 104, 0.317);
}

#Time {
    width: 470px;
    height: 45px;
    background-color: rgba(129, 119, 104, 0.317);
}

/* For Larger Screen */

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* For Tablet View */

@media (max-width:768px) {
    .email-type-parent {
        flex-direction: column;
        margin-bottom: 200px;
        width: 700px;
    }

    .guest-time-parent {
        flex-direction: column;
        margin-bottom: 200px;
    }

    #Choose {
        width: 660px;
        margin-left: -5px;
    }

    #Guest {
        width: 660px;
        margin-left: -5px;
    }

    #Time {
        width: 660px;
        margin-left: -5px;
    }
}

@media (max-width:376px) {
    #email {
        width: 200px;
    }

    #Choose {
        width: 310px;
    }

    #Guest {
        width: 310px;
    }

    #Time {
        width: 310px;
    }
}


